body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background-image: linear-gradient(to right, red , yellow); /* Standard syntax */
}

#kDiv {
    display: flex;
	flex-direction: column;
	align-items: flex-end;
    bottom: 0;
	
}


#kDiv::before {
	position: fixed;
    bottom: 0;
}

#box1 {
	background: red;
	height: 80px;
	width: 80px;
}

#box2 {
	background: blue;
	height: 80px;
	width: 80px;
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}


.rand {
	font-size: 30px
}